App_WebReferences/localhost/Password.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRandomPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="maxLength" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRandomPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRandomPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRandomLengthPassword">
        <s:complexType />
      </s:element>
      <s:element name="GetRandomLengthPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRandomLengthPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRandomPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:GetRandomPassword" />
  </wsdl:message>
  <wsdl:message name="GetRandomPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:GetRandomPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetRandomLengthPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:GetRandomLengthPassword" />
  </wsdl:message>
  <wsdl:message name="GetRandomLengthPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:GetRandomLengthPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="PasswordSoap">
    <wsdl:operation name="GetRandomPassword">
      <wsdl:input message="tns:GetRandomPasswordSoapIn" />
      <wsdl:output message="tns:GetRandomPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRandomLengthPassword">
      <wsdl:input message="tns:GetRandomLengthPasswordSoapIn" />
      <wsdl:output message="tns:GetRandomLengthPasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PasswordSoap" type="tns:PasswordSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRandomPassword">
      <soap:operation soapAction="http://tempuri.org/GetRandomPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomLengthPassword">
      <soap:operation soapAction="http://tempuri.org/GetRandomLengthPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PasswordSoap12" type="tns:PasswordSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRandomPassword">
      <soap12:operation soapAction="http://tempuri.org/GetRandomPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomLengthPassword">
      <soap12:operation soapAction="http://tempuri.org/GetRandomLengthPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Password">
    <wsdl:port name="PasswordSoap" binding="tns:PasswordSoap">
      <soap:address location="http://localhost:50748/Password.asmx" />
    </wsdl:port>
    <wsdl:port name="PasswordSoap12" binding="tns:PasswordSoap12">
      <soap12:address location="http://localhost:50748/Password.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>